<div class="page-area">
    <h2>About Us!</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur esse ducimus eligendi id corrupti tempore
        magnam delectus quidem reiciendis non natus eius molestiae voluptates, temporibus eum quasi voluptatum ipsa
        enim!</p>
    <hr class="mb-3">


    <div class="row">
        <div class="col-md-4">
            <div class="custom-dropdown justifycontent-center">
                <span class="dropdown-header" appDropdown>
                    My DropDown
                </span>
                <div class="dropdown-content">
                    <a href="">Item 1</a>
                    <a href="">Item 2</a>
                    <a href="">Item 3</a>
                    <a href="">Item 4</a>
                </div>
            </div>
        </div>
    </div>

</div>