<div class="page-area">
    <h2>{{contact | lowercase}}</h2>
    <h2>{{contact | slice : 2 : 9}}</h2>
    <h4>{{date | date | uppercase}}</h4>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur esse ducimus eligendi id corrupti tempore
        magnam delectus quidem reiciendis non natus eius molestiae voluptates, temporibus eum quasi voluptatum ipsa
        enim!</p>
    <div class="row">
        <div class="col-md-6">
            <!-- <app-card>
                <h5 class="card-title">Laptop</h5>
                <a routerLink="laptop" class="btn btn-success">Know More about laptop</a>

            </app-card> -->
            <div class="card" appTestdirective>
                <div class="card-body">
                    <h5 class="card-title">Laptop</h5>
                    <p class="card-text">Some quick example text to build on the card.</p>
                    <a routerLink="laptop" class="btn btn-success">Know More about laptop</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <app-card>
                <h5 class="card-title">Mobile</h5>
                <a routerLink="laptop" class="btn btn-success">Know More about mobile</a>

            </app-card>
        </div>
        <div class="col-md-6">
            <app-card>
                <h5 class="card-title">TV</h5>
                <a routerLink="laptop" class="btn btn-success">Know More about tv</a>

            </app-card>
        </div>
        <div class="col-md-6">
            <app-card>
                <h5 class="card-title">Washing Machine</h5>
                <a routerLink="laptop" class="btn btn-success">Know More about washing machine</a>

            </app-card>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>