<div class="container">
    <div class="col-md-4">
        <select class="form-control" (change)="getProductValue($event)">
            <option value="default">SelectProduct</option>
            <option value="Laptop">Laptop</option>
            <option value="TV">TV</option>
            <option value="Mobile">Mobile</option>
            <option value="Wasching machine">Washing machine</option>
        </select>
    </div>
    <div class="col-md-12" [ngSwitch]="selectedProduct">
        <h2 class="text-success" *ngSwitchDefault>Please Select Product!</h2>
        <h2 class="text-success" *ngSwitchCase="'Laptop'">Laptop</h2>
        <h2 class="text-success" *ngSwitchCase="'TV'">TV</h2>
        <h2 class="text-success" *ngSwitchCase="'Mobile'">Mobile</h2>
        <h2 class="text-success" *ngSwitchCase="'Wasching Machine'"> Washing Machine</h2>


    </div>



</div>