<!-- <app-myContainer></app-myContainer> -->
<!-- <app-class-stle></app-class-stle> -->
<!-- <app-eventbind></app-eventbind> -->
<!-- <app-two-way></app-two-way> -->
<!-- <app-ngif></app-ngif> -->
<!-- <app-ngswitch></app-ngswitch> -->
<!-- <app-ngfor></app-ngfor> -->

<header>
        <nav>
                <ul class="nav nav-tabs">
                        <li class="nav-item"><a class="nav-link" routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact:true}" routerLink="/">Home</a> </li>
                        <li class="nav-item"><a class="nav-link" routerLinkActive="active"
                                        routerLink="/products">Products</a> </li>
                        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/about">About
                                        Us</a> </li>
                        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/contact">Contact
                                        Us</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" routerLinkActive="active"
                                        routerLink="/buy-products">Buy-Products</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" routerLinkActive="active"
                                        routerLink="/viewchild">@ViewChild</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" routerLinkActive="active"
                                        routerLink="/hostlistener">@hostlistener</a> </li>
                        <li class="nav-item"><a class="nav-link" routerLinkActive="active"
                                        routerLink="/hostbinding">@hostbinding</a> </li>
                        <li class="nav-item"><a class="nav-link" routerLinkActive="active"
                                        routerLink="/filterpipe">FilterPipe</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" routerLinkActive="active"
                                        routerLink="/templateforms">TemplateForms</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" routerLinkActive="active"
                                        routerLink="/reactiveform">Reactiveform</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" routerLinkActive="active"
                                        routerLink="/postput">PostPut</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/user">User</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/notFound">Not
                                        Found</a></li>

                </ul>
        </nav>
</header>
<!-- <app-login></app-login> -->

<router-outlet></router-outlet>